interface: 0.0.0.0
port: 3001
secret: "developmentindocker"
use_reverse_proxy: true
debug: true
database:
  url: postgresql://postgres:developer@psql:5432/nf_cloud
  pool_size: 4 # In development mode, more than one connections are supported
rabbit_mq:
  url: "amqp://admin:developer@rabbitmq:5672/%2f"
worker_credentials:
  username: "worker"
  password: "developer"
login_providers:
  openid:
    dev:
      description: Login with local Fusionauth
      client_id: c63f35e8-66dc-4ec3-bb34-b29803ba72f1
      client_secret: 8CLrA9gAVmlM7GKKCnMnT9MHNvUMqXNVWog2kWUuC7Y2iBOnFIh9X0rpCqfMcpfQkEZfCBfxMqfz5FYC6cduB20kxqV5Ysq
      discovery_url: https://ENV['NF_HOSTNAME']:ENV['NF_FUSIONAUTH_PORT']/.well-known/openid-configuration/04690b25-d20a-158d-5b27-a4202477074b
      scope: "offline_access"
      verify_ssl: false
frontend_host_url: ~
