version: '2.2'
services:
  psql:
    image: postgres:14
    ports:
      - 127.0.0.1:5434:5432
    environment:
      POSTGRES_PASSWORD: developer
    volumes:
      - ./docker/postgresql/init.sh:/docker-entrypoint-initdb.d/init.sh:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 127.0.0.1:15674:15672
      - 127.0.0.1:5674:5672
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: developer
    volumes:
      - ./docker/rabbitmq/10-default-guest-user.conf:/etc/rabbitmq/conf.d/10-default-guest-user.conf:ro
  fusionauth:
    image: fusionauth/fusionauth-app:latest
    ports:
      - 127.0.0.1:9011:9011
    depends_on:
      psql:
        condition: service_healthy
    links:
      - psql
    environment:
      DATABASE_URL: jdbc:postgresql://psql:5432/fusionauth
      # Prior to version 1.19.0, use this deprecated name
      # DATABASE_ROOT_USER: ${POSTGRES_USER}
      DATABASE_ROOT_USERNAME: postgres
      DATABASE_ROOT_PASSWORD: developer
      # Prior to version 1.19.0, use this deprecated name
      # DATABASE_USER: ${DATABASE_USER}
      DATABASE_USERNAME: fusionauth
      DATABASE_PASSWORD: developer
      # Prior to version 1.19.0, use this deprecated names
      # FUSIONAUTH_MEMORY: ${FUSIONAUTH_MEMORY}
      # FUSIONAUTH_SEARCH_ENGINE_TYPE: database
      # FUSIONAUTH_URL: http://fusionauth:9011
      # FUSIONAUTH_RUNTIME_MODE: development
      FUSIONAUTH_APP_MEMORY: 512M
      FUSIONAUTH_APP_RUNTIME_MODE: development
      FUSIONAUTH_APP_URL: http://fusionauth:9011
      SEARCH_TYPE: database
      FUSIONAUTH_APP_KICKSTART_FILE: /kickstart.json
      FUSIONAUTH_API_KEY: OXp1Y8xCyVRIHqbXO18wdhL1TQujBCm6Mkgwbg
      FUSIONAUTH_ADMIN_PASSWORD: developer
      FUSIONAUTH_APPLICATION_ID: nf_cloud
      DEVELOPER_FUSIONAUTH_API_KEY: OXp1Y8xCyVRIHqbXO18wdhL1TQujBCm6Mkgwbg
    volumes:
      - ./docker/fusionauth/kickstart.dev.json:/kickstart.json
  # backend_1: &backend
  #   build:
  #     context: .
  #     dockerfile: backend.dockerfile
  #   volumes:
  #     # Pass the local config
  #     - ./config.development.yaml:/app/config.development.yaml:ro
  #     - ./config.local.yaml:/app/config.local.yaml:ro
  #   # user: "${UID}:${GID}"
  #   command: ["--environment", "development", "--interface", "0.0.0.0", "--port", "3001"]
  # backend_2: *backend
  # backend_3: *backend
  # frontend:
  #   build:
  #     context: .
  #     dockerfile: frontend.dockerfile
  #   environment:
  #     NF_CLOUD_BACKEND_BASE_URL: http://localhost:8080
  #     NF_CLOUD_FRONTEND_INTERFACE: 0.0.0.0
  #     NF_CLOUD_FRONTEND_PORT: 3000
  #   #user: "${UID}:${GID}"
  #   command: ["--environment", "development"]
  # nginx:
  #   image: nginx:stable-alpine
  #   ports:
  #     - 8080:8080
  #   volumes:
  #     - ./nginx-high-available.conf:/etc/nginx/templates/default.conf.template:ro
  #   depends_on:
  #     - backend_1
  #     - backend_2
  #     - backend_3
  #     - frontend
  #   links:
  #     - backend_1
  #     - backend_2
  #     - backend_3
  #     - frontend