[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = ">=1, <2"
bjoern = ">= 3, <4"
Flask = ">=1, <2"
flask-socketio = ">=5, <6"
pika = ">=1, <2"
piwikapi = "==0.3"
PyYAML = ">=5, <6"
psycopg2 = ">=2, <3"


[dev-packages]
pylint = "*"
honcho = "*"
requests = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "honcho start"
