[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eventlet = ">=0.33, <0.34"
Flask = ">=1, <2"
Flask-Caching = ">=2, <3"
Flask-Cors = ">=3, <4"
Flask-Login = ">=0.6.1, <0.7.0"
flask-socketio = ">=5, <6"
kombu = ">=5, <6"
markupsafe = "==2.0.1"      # fix for `ImportError: cannot import name 'soft_unicode'`
mergedeep = ">=1, <2"
oauthlib = ">=3, <4"
peewee = ">=3, <4"
peewee-migrate = ">=1.1.6"
pika = ">=1, <2"
piwikapi = "==0.3"
psycopg2 = ">=2, <3"
pyjwt = ">=2, <3"
PyYAML = ">=5, <6"
requests = ">=2, <3"
zipstream-new = ">=1, <2"

[dev-packages]
honcho = "*"
pylint = "*"
requests = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "honcho -e dev.env start"
"db:migrate" = "python -m nf_cloud_backend database migrate "
